* {
  margin: 0;
  padding 0;
}
.logo{
  position: relative;
  color: yellow;
  background: blue;
  text-align: center;
  font-weight: bold;
}
.main{
width: 100%;
height: 120vh;
margin-left: ;
background: royalblue;
position: absolute;
display: flex;
border-radius: %;
}
.navbar{
  background: black;
  width: 100%;
  height:15vh;
}

.navbar img{
  width: 25vh;
  height: 15vh;
  border-radius: %;
  position: relative;
}
.ul{
  width: 14.5vh;
  height: 680px;
  display: flex;
  flex-direction: column;
  position: absolute;
  color: blue;
  font-weight: bold;
  margin-top : 20vh;
  word-spacing: 50sp;
  background: rosybrown;
  text-decoration: none;
  word-wrap: auto;
  text-overflow: ellipsis;
}
.header{
  margin-left: 50px;
  position: absolute;
  font-family: 'Times New Roman', Times, serif;
}
.user1{
  width: 38vh;
  height: 195px;
  margin-top:25vh;
  margin-left:15vh;
  color: black;
  display: flex;
  position: absolute;
  text-indent: 0px;
  flex-direction: column;
  text-decoration: auto;
  overflow-y: auto;
  overflow-x: auto;
  background: navajowhite;
  border-radius: 5%;
  text-indent: aut
}
.user1 img{
  position: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  
}
.headd h5{
  color: grey;
  margin-left: 1px;
}
.headd h6{
  align-content: auto;
  margin-left: 10px;
  text-justify: left;
  text-align: 20px;
  color: black;
}
.user1 button{
  border-radius: 20%;
  background: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
}
.demo{
  height: 40px;
  width: 30px;
  margin-top: 20vh;
  display: flex;
}
.countdown{
  height: 50px;
  width: 38vh;
  margin-top: 4vh;
  margin-left: 15vh;
  position: absolute;
  text-align: center;
  color: orangered;
  background: transparent;
}
.user2{
  width: 38vh;
  height: 195px;
  margin-top:55vh;
  margin-left:15vh;
  color: black;
  display: flex;
  position: absolute;
  text-indent: 0px;
  flex-direction: column;
  text-decoration: auto;
  overflow-y: auto;
  overflow-x: auto;
  background: navajowhite;
  border-radius: 5%;
  text-indent: aut
}
.user2 img{
  position: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.user2 button{
  border-radius: 20%;
  background: whitesmoke;
  font-family: sans-serif;
  font-weight: bold;
}
.user3{
  width: 38vh;
  height: 195px;
  margin-top:85vh;
  margin-left:15vh;
  color: black;
  display: flex;
  position: absolute;
  text-indent: 0px;
  flex-direction: column;
  text-decoration: auto;
  overflow-y: auto;
  overflow-x: auto;
  background: navajowhite;
  border-radius: 5%;
  text-indent: aut
}
.user3 img{
  position: left;
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.user3 button{
  border-radius: 20%;
  background: whitesmoke;
  font-weight: bold;
}
.post img{
  width: 150px;
  margin-left: 10px;
  height: 50px;
  border-radius: 5%;
}
